/* área de personalização do cabeçalho*/
header {
    margin-top: 0%;
    background-color: rgb(86, 165, 219);
}

header table {
    vertical-align: center;
    color:black;
    text-align: center;
    font-style: bold;
    font-size: 25px;
}

.menu {
    text-align: center;
    margin-left: 30px;
    color: black;
}

.menu:hover {
    border: 20px solid black;
    background: black;
    color: white;
}