body {
    background-color: black;
    font-family: 'Arial', 'sans-serif';
    color: white;
}

h1 {
    text-align: center;
    font-style: bold;
    font-size: 35px;
}

#titulo{
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

p {
    font-size: 20px;
}

.botao {
    text-align: center;
    background: darkslategray;
    color: white;
    border: 4px solid darkslategray;
    margin-left: 30px;
}


.botao:hover {
    background: white;
    color: darkslategray;
    border: 6px solid white;
}

header {
    margin-top: 0%;
    background-color: lightblue;
}

header ul {
    vertical-align: center;
    color:black;
    text-align: center;
    font-style: bold;
    font-size: 25px;
}

.div1 {
    align-self: center;
    text-align: center;
    background-color: lightgray;
    color: black;
}

.preview {
    border: 10px solid darkslategray;
    width: 320px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
}

footer {
    vertical-align: bottom;
}

.titulo-noticia {
    color:black;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    margin-left: 30px;
}

.desc-noticia {
    color: darkslategray;
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
}