/* área de personalização do fundo*/
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

body {
    background-color: black;
    font-family: 'Reggae One', 'sans-serif';
    color: white;
}

/* área de personalização de títulos*/
h1 {
    text-align: center;
    font-style: bold;
    font-size: 35px;
}

#titulo{
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* área de personalização de parágrafos*/
p {
    font-size: 20px;
}

/* área de personalização de botões pela página*/
.botao {
    text-align: center;
    background: darkslategray;
    color: white;
    border: 4px solid darkslategray;
    margin-left: 30px;
}


.botao:hover {
    background: white;
    color: darkslategray;
    border: 6px solid white;
}

/* área de personalização da divisão da página*/
.div1 {
    align-self: center;
    text-align: center;
    background-color: lightgray;
    color: black;
}

.preview {
    border: 10px solid darkslategray;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.titulo-produto {
    font-style: bold;
    color:black;
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}

.preco-produto {
    color: darkslategray;
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
}

/* área de personalização do rodapé*/
footer {
    vertical-align: bottom;
}

/* personalização do banner */
.banner {
    width: 100%;
    height: auto;
}